[submodule "3rdparty/range"]
	path = 3rdparty/range
	url = https://github.com/ericniebler/range-v3.git
[submodule "3rdparty/gsl"]
	path = 3rdparty/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "add"]
	path = add
	url = https://github.com/google/googletest.git
[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:conelov/cmakeUtils.git
